/* CHECKBOX */

.bt-checkbox { display: block; height: 20px; width: 20px; position: relative; background: white; border: 1px solid black;}
.bt-checker { display: block; height: 10px; width: 10px; position: relative; padding: 5px; background: url('../img/sierramist.png') -245px -95px no-repeat;}
.bt-checker.checked { background-position: -245px -45px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) { 
	.bt-checker { background: url('../img/sierramist@2x.png') -290px -95px no-repeat; -webkit-background-size: 900px 200px; }
}

/* RADIO */

.bt-radio { display: inline-block; height: 16px; width: 16px; position: relative; background: white; border: 1px solid black; }
.bt-radio-trigger { display: block; height: 10px; width: 10px; position: relative; padding: 3px; background: url('../img/sierramist.png') -397px -97px no-repeat;}
.bt-radio-trigger.checked { background-position: -397px -47px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) { 
	.bt-radio-trigger { background: url('../img/sierramist@2x.png') -397px -97px no-repeat; -webkit-background-size: 900px 200px; }
}

/* SELECT */

.bt-dropdown { display: inline-block; position: relative; outline: none; background: white; border: 1px solid black; }
.bt-dropdown-toggle { display: block; padding: 10px 30px 10px 10px; position: relative; color: black; text-decoration: none; text-align: left;}
.bt-dropdown-toggle span.icon { display: inline-block; position: absolute; padding: 10px; right: 0px; height: 10px; width: 10px; background: url('../img/sierramist.png') -445px -44px no-repeat;}
.bt-dropdown-options { list-style-type: none; margin: 0px; padding: 0px; background: white; width: 100%; right: -1px; border: 1px solid black; max-height: 250px; overflow: scroll;}
.bt-dropdown.initialized .bt-dropdown-options { position: absolute; }
.bt-dropdown.closed .bt-dropdown-options { display: none; }
.bt-dropdown.open .bt-dropdown-toggle { color: #ccc; }
.bt-dropdown.open .bt-dropdown-toggle span.icon { background-position: -445px -94px; }
.bt-dropdown-option { list-style-type: none; margin: 0px; padding: 0px; text-align: left; border-top: 1px solid #ccc;}
.bt-dropdown-option a { color: black; text-decoration: none; display: block; padding: 10px 10px; }
.bt-dropdown-option:hover { background: black; }
.bt-dropdown-option:hover a { color: white; }
.bt-dropdown.notmobile select { display: none; }
.bt-dropdown.mobile select { font-size: 16px; position: absolute; display: block; z-index: 9999; opacity: 0; --webkit-appearance: menulist-button; top: 0px; left: 0px; padding: 0px; margin: 0px;}