html,body {
	margin: 0;
	padding: 0;
    width: 100%;
    height: 100%;
}

.slider li img {
	width: 100%;
}

@media only screen and (min-width: 1025px) {

    .bt-slider {
    	position: relative;
    	width: 800px;
    	margin: 100px auto;
    }

}